html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

#__next {
  height: 100vh;
}